.bg{
    background-image:url("../img/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    top: -12%;
    width: 100%;
    transform: rotate(0deg);
    position: absolute;
    z-index: -2;
    opacity: 1;
}
#regis{
    color: black;
    text-align: center;
    font-size: 1.5rem;
}
.row{
    margin-right: 0px;
    margin-right: 0px;
}
.label1{
    color:black;
}
.logo{
    height: 70px;
}
.navbar{
    height: 80px;
}
nav input, button{
    float:right;
    box-sizing: border-box;
    
}
.form-control{
    width: 180px;
    border-radius: 30px;
    background-color: transparent;
    border:1px solid black;
    font-weight: bold;
    text-align: center;
    color: black;
}
.form-control::placeholder{
    color:black;
}
.btn{
    color: #360971;
    border:1px solid #360971;
}
.btn:hover{
    background-color: #36097148;
}
.busqueda{
    color:black;
    text-align: center;
}
.busqueda h1{
    font-size: 1.5rem;
    text-align: center; 
}
.form{
    width: 100%;
    padding: 20px;
    background-color:#1f1f2269;
    opacity: 0.9;
    border-radius: 1.5rem;
}
#contenedor{
    margin-top: 80px;
}
.form-input{
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    border: 5px solid white;;
    padding: inherit;
}
#correo-registrarse , #inputPassword4{
    width: 100%;
}
.text-muted {
    color: #2f313b !important;
}
.form-text {
    width: 100%;
}
#select{
    color: gray;
    border: 5px solid white;
    border-radius: 4px;
    width: 100%;
    padding: inherit;
}
option{
    padding:4px;
}
.ancord{
    color:#fdcb6d ;
}
.ancord:hover{
    color: #946e29;
}
.btn2{
    background-color:transparent;
    border-color: #fdcb6d;
    border-radius: 30px;
    padding:7px;
    width:180px;
    border:1px solid #fdcb6d;
    color: #fdcb6d;
}
.btn2:hover{
    background-color: #fdcb6d;
    color:black;
}
.bd-example{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}
.carousel-inner{
    margin-top:-50px;
    border-radius: 1.5rem;
}
.carousel-caption{
    width: 100%;
    background-color: black;
    bottom: 0px;
    left: 0%;
    opacity: 0.5999999999;
}
.foot-page{
 background-color: transparent;
 width: 100%;
 margin-top: 70px;
 bottom: 0;
}
#icons{
    width: 20%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    align-items: center;
    display: flex;
    
}
.item1 img{
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border-radius: 5.5rem;
    margin: 2px;
}
.copyright{
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    padding: 20px;
    color: black;
}
.copyright p{
    margin-bottom: 0;
}
#item2{
    text-align: center;
}
@media screen and (max-width: 600px){
    .form-control, .btn {
        width: 100px;
        font-size: 0.7rem;

    }
    .bg{
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1000px;
    top: -20%;
    left: -1rem;
    width: 100%;
    transform: rotate(0deg);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    position: absolute;
    z-index: -1;
    }
    .navbar, .logo{
        height: 30px;
    }
    #carrousel1{
        display: none;
    }

}
.carousel-inner , .carousel-item, .imagen-carousel{
    height: 470px;
}
